body {
    background-color: aquamarine;
}

.container {
    width: 100%;

}

.new-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

header {
    position: relative;
}

h1 {
    position: absolute;
    left: 37%;
    top: 50%;
    color: white;
}

/* display */
ul {
    margin: 0;
    padding: 0;
}

.menu nav li {
    display: inline-block;
    width: 32.33%;
    text-align: center;
    border-right: 1px solid black;
}

nav li:last-child {
    border-right: none;
}

.header-image{
    width: 100%;
}

.facts li {
    margin-left: 15px;
}

.paragraph-image {
    /* border: 5px solid blue; */
    width: 250px; 
    /* apply flaot */ 
    float: left;
    padding-right: 15px;
}

.facts {
    margin-top: 75px;
    clear: both;
}

.bottom-container {
    border: 3px solid grey;
    padding: 15px;
}

.text-form {
    width: 100%;
}